{{#if books}}
    {{#each books}}
        <div class="card card-body">
            <h3>{{title}}</h3>
            <p>Author: {{author}}</p>
            <p>ISBN: {{isbn}}</p>
        </div>
    {{/each}}
{{else}}
    <div class="card card-body">
    <h1>No books</h1>
    </div>
{{/if}}